/*BEGIN - FULL PAGE*/
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background: #eee;
    font-family: Georgia, sans-serif;
}
/*END - FULL PAGE*/


/*BEGIN - LANDING PAGE*/
.landing-page {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("assets/main-image.jpg");
    background-size: cover;
}

.landing-page-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 70px;
    color: #ffffff;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    text-shadow: 2px 2px black;
}

.content p {
    font-size: 1.500rem;
    color: #ffffff;
    margin-bottom: 25px;
}

.content .landing-page-button {
    border: solid #ffffff 2px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 15px;
}

.content .landing-page-button:hover {
    background: black;
}

.landing-page-button {
    border: solid #2f2929 2px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 600;
    color: #2f2929;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 15px;
}

.landing-page-button:hover {
    background: #2f2929;
    color: wheat;
}
/*END - LANDING PAGE*/

/*BEGIN - ABOUT US PAGE*/
.about-us-total {
    width: 100%;
    height: 100vh;
    overflow:auto;
}

.about-left {
    float:left;
    text-align: center;
    width: 50%;
    height: 100vh;
    background: #ded3d3;
    padding: 30px 20px 50px 100px;
}

.about-right {
    float:right;
    width: 50%;
    padding-right: 100px;
    background: #ded3d3;
}

#about-us-page .about-us-page {
    flex-direction: column;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #2f2929;
    background: #ded3d3;
    height: 100vh;
    float: left;
    padding: 100px 0;
}

#image-about {
    margin-top: 55px;
}

#image-about:hover {
    cursor: pointer;
}

#about-us-page .about-us-top-part {
    max-width: 500px;
    font-weight: 500;
    margin: 0 auto;
}

#about-us-page .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#about-us-page .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#about-us-page .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .9;
    z-index: -1;
}

#about-us-page .service-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#about-us-page .service-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#about-us-page .service-item p {
    color: white;
    text-align: left;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-family: Georgia, sans-serif;
    font-size: 60px;
    margin-bottom: 30px;
}

.section-title {
    font-size: 4rem;
    color: #2f2929;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span {
    color: darkred;
}
/*END - ABOUT US PAGE*/

/*BEGIN - CONTACT PAGE*/
#about-us-page2 .about-us-page {
    flex-direction: column;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #2f2929;
    float: left;
    padding: 100px 0;
}

#about-us-page2 .about-us-top-part {
    max-width: 500px;
    font-weight: 500;
    margin: 0 auto;
}
#about-us-page2 .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#about-us-page2 .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#about-us-page2 .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .9;
    z-index: -1;
}
#about-us-page2 .service-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
#about-us-page2 .service-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#about-us-page2 .service-item p {
    color: white;
    text-align: left;
}

#contact-div {
    height: auto;
    margin-top: -32px;
    font-family: Arial, sans-serif;
    color: #2f2929;
    font-weight: 500;
}

.contact-page-button {
    border: solid #2f2929 3px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 700;
    width: 30%;
    color: #2f2929;
    font-size: 12px;
    cursor: pointer;
    padding: 8px 12px;
    margin-top: 15px;
}

.contact-page-button:hover {
    background: #2f2929;
    color: wheat;
    cursor: pointer;
}
/*END - CONTACT PAGE*/

/*BEGIN - FOOTER PAGE*/
.footer{
    text-align: center;
    background: #000;
}

.footer-text{
    padding: 1.1rem 0;
}

.text{
    margin: 0.6rem 0;
    color: wheat;
    font-weight: 200;
    word-spacing: 2px;
}

#foot {
    font-family: Arial, serif;
    font-weight: bold;
    color: #ded3d3;
}

.container2{
    width: 90vw;
    margin: 0 auto;
}
/*END - FOOTER PAGE*/

/*BEGIN - ID'S*/
#main-logo-diyanet {
    width: 150px;
    height: 150px;
}

#main-logo-diyanet:hover {
    content: url("assets/diyanet-logo-black.png");
}

#adress-div {
    border-radius: 30px;
    text-align: center;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

#contact-page {
    height: 100vh;
}

#maps {
    border-radius: 15px;
    border: solid #2f2929 7px;
}

#facebook-button:hover {
    background: #2f2929;
    color: wheat;
}

#mail-button:hover {
    background: #2f2929;
    color: wheat;
}
/*END - ID'S*/

@media only screen and (min-width: 1200px) {
    #media-line {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        color: green;
    }

    .about-left {
        display: none;
    }

    .about-us-total {
        align-content: center;
    }

    .about-right {
        width: 100%;
        padding-right: 0;
    }

    #about-left-contact {
        display: inline-block;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 200px;
        height: 100%;
        text-align: center;
        align-content: center;
    }

    #about-us-page2 {
        width: 100%;
        padding: 0;
    }

    .about-us-page {
        height: auto;
    }

    #contact-page {
        height: auto;
    }

    #contact-div {
        display: inline-block;
        width: 100%;
    }

    #about-us-page2 .about-us-page {
        margin-top: -550px;
    }
}