/*BEGIN - FULL PAGE*/
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background: #eee;
    font-family: Georgia, sans-serif;
}
/*END - FULL PAGE*/


/*BEGIN - LANDING PAGE*/
.landing-page {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("assets/main-image.jpg");
    background-size: cover;
}

.landing-page-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 70px;
    color: #ffffff;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    text-shadow: 2px 2px black;
}

.content p {
    font-size: 1.500rem;
    color: #ffffff;
    margin-bottom: 25px;
}

.content .landing-page-button {
    border: solid #ffffff 2px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 15px;
}

.content .landing-page-button:hover {
    background: black;
}
/*END - LANDING PAGE*/

.about-us-total {
    width: 100%;
    overflow:auto;
}

.about-left {
    float:left;
    text-align: center;
    width: 50%;
    height: 100vh;
    background: #2f2929;
    padding: 40px;
}

.about-right {
    float:right;
    width: 50%;
    background:#2f2929;
}

#about-us-page .about-us-page {
    flex-direction: column;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #ded3d3;
    background: #2f2929;
    height: 100vh;
    float: left;
    padding: 100px 0;
}

#image-about {
    margin-top: 45px;
}

#about-us-page .about-us-top-part {
    max-width: 500px;
    margin: 0 auto;
}
#about-us-page .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#about-us-page .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/img-1.png);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#about-us-page .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .9;
    z-index: -1;
}
#about-us-page .service-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
#about-us-page .service-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#about-us-page .service-item p {
    color: white;
    text-align: left;
}

.section-title {
    font-family: Georgia, sans-serif;
    font-size: 60px;
    margin-bottom: 30px;
}


/*BEGIN - ID'S*/
#main-logo-diyanet {
    width: 150px;
    height: 150px;
}

#main-logo-diyanet:hover {
    content: url("assets/diyanet-logo-black.png");
}
/*END - ID'S*/

#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header h1 {
    margin-bottom: 50px;
}
#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: black;
    color: white;
}
#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}
#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}
#projects .project-info p {
    color: white;
}
#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#projects .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: .7;
}
#projects .project-img img {
    transition: .3s ease transform;
}
#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span {
    color: darkred;
}